<% content_for :title do %>
  Nova Rifa
<% end %>

<div class="page-header">
  <h1>Nova Rifa</h1>
  <%= link_to raffles_path, class: 'btn btn-outline-secondary' do %>
    <%= icon 'fas', 'bars' %>
    Voltar
  <% end %>
</div>

<%= render 'form' %>
